html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
}

.content{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.box1{
    background-color: red;
    height: 100%;
    width: 33.33333%;
}

.box2{
    margin: 0 15px;
    height: 100%;
    background-color: green;
    width: 33.33333%;
}

.box3{
    height: 100%;
    background-color: blue;
    width: 33.33333%;
}