#menu{
    display: flex;
    justify-content: space-between;
}

a{  
    color:#333;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

img{
    width: 250px;
}

button a{
    text-decoration: none;
    color: #333;
}

h2{
    display: flex;
}

