*{
    list-style: none;
    margin: inherit;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: Roboto,sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    max-width: 100%;
}

.logo img{  
    width: 120px;
}

#header{
    display: flex;
    justify-content: space-around;
    background-color:#34465c;
    width: 100%;
    height: 60px;
    position: fixed;
}

.list-menu{
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px;
    text-transform: uppercase;
    color: #fff;
}

.content{
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.img-item img{
    border: 10px solid white;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.img-item >img:hover{ 
    cursor: pointer;
    border-radius: 8px;
    transform: rotate(5deg);
}




