#menu{
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

a{
    color:#333;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

img{
    width: 250px;
    height: 250px;
}

button a{
    text-decoration: none;
    color: #333;
}
